# In order to include this file in your git config, you must have git version 1.7.10 or higher.

[alias]
    # Shortcuts
    ca = commit -a
    st = status
    ci = commit
    co = checkout
    df = diff
    lg = log -p
    logo = log --graph --decorate --stat
    who = shortlog -s --

    # Push the current branch to origin HEAD (push head)
    ph = !sh -c 'git push origin HEAD' -
    
    # Get a list of changed files
    changes = diff --name-status -r
    # Rest to the latest (origin) version of a branch
    # Ex: git rb master
    rb = !sh -c 'echo "Fetching..." && git fetch && git co $1 && echo "Grabbing latest origin/$1" && git reset --hard origin/$1' -

    # Merge your current branch into another branch (usually an integration branch) and push
    # Ex: git mb staging
    mb = !sh -c 'ib=$1 && cb=$(git current-branch) && echo "Merging $cb into $ib" && git rb $ib && git merge --no-ff $cb && git ph' - 

    # Create a branch from master
    # Ex: git br new_branch_name
    br = !sh -c 'new_branch=$1 && echo "Branching $new_branch from master..." && git rb master && git co -b $new_branch' -

    # Get the diff of a branch from it's branch point on master
    # Ex: git dm
    # Ex: git dm branch_to_diff
    dm = !sh -c 'branch_name=${1:-$(git b)} && echo "Diff of $branch_name changes since branching master..." && git diff origin/master...origin/$branch_name' -

    # Prune all remote branches
    prune-all = !git remote | xargs -n 1 git remote prune
    
    # Get the name of the current branch
    b = !git rev-parse --abbrev-ref HEAD
